*.iml
.idea/
*.ipr
*.iws
*.log
*.jasper
.idea/
log/
out/
war/
bin/
target/
coverage/
test/
htmls/
/application.properties
src/groovy/Sledgehammer-config.properties
/coverage.*
test/reports/
web-app/gwt
web-app/WEB-INF/classes
Thumbs.db
/stacktrace.log
lib/gwt/ids-gwt-widgets.jar
lib/gwt/lightsaber.jar
*.ser
/dbdeploy/
/lib/gwt/lightsaber.jar
web-app/css/main.css
web-app/images/grails_logo.jpg
web-app/images/skin/
web-app/images/spinner.gif
.DS_Store
extras/
lib/gwt/gwt-graphics.jar
lib/gwt/ids-gwt-graph.jar
id_file
demodb
demo-config/bak
